<h1 style="text-align: center;">Editar Cliente</h1>

<div class="formulario">
  <%= form_with(model: @cliente, local: true) do |form| %>
    <% if @cliente.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@cliente.errors.count, "erro") %> impediram a atualização deste cliente:</h2>
        <ul>
          <% @cliente.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :nome %><br>
      <%= form.text_field :nome %>
    </div>

    <div>
      <%= form.label :telefone %><br>
      <%= form.text_field :telefone %>
    </div>

    <div>
      <%= form.label :email %><br>
      <%= form.email_field :email %>
    </div>

    <div>
      <%= form.label :endereco %><br>
      <%= form.text_field :endereco %>
    </div>

    <div class="field">
      <%= form.label :data_nascimento %>
      <%= form.date_field :data_nascimento %>
    </div>

    <div>
      <%= form.label :observacoes %><br>
      <%= form.text_area :observacoes %>
    </div>

    <div style="margin-top: 20px;">
      <%= form.submit "Salvar" %>
    </div>
  <% end %>

