<h1 style="text-align: center;">Clientes</h1>

<% if flash[:notice] %>
  <div class="flash-notice" style="text-align: center; margin-bottom: 20px;">
    <%= flash[:notice] %>
  </div>
<% end %>

<div style="display: flex; justify-content: center; align-items: center;">
  <h4 style="margin: 0;">Clientes: <%= @quantidade_clientes %></h4>
  <h4 style="margin: 0; padding: 0 10px;"> - </h4>
  <h4 style="margin: 0;">Aniversariantes: <%= @clientes_mes_atual %></h4>
</div>

<div style="text-align: center; margin-bottom: 20px;">
  <%= link_to 'Novo cadastro', new_cliente_path, class: 'novo-cliente-link' %>
</div>

<div style="text-align: center; margin-bottom: 20px;">
  <%= form_with(url: clientes_path, method: :get, local: true, style: "display: inline-block;") do |form| %>
    <%= form.label :search, "Buscar por nome:"%>
    <%= form.text_field :search, value: params[:search], style: "width: 150px; margin-left: 10px; padding: 5px;" %>
    <%= form.submit "Buscar", style: "padding: 5px 10px; width: 80px; margin-left: 10px;" %>

    <%= button_tag "Limpar", type: "button", class: 'novo-cliente-link', style: "padding: 5px 10px; width: 80px; margin-left: 10px;", onclick: "document.getElementById('search').value = ''; this.form.submit();" %>
  <% end %>
</div>

<table class="clientes-table" style="width: 100%; text-align: center;">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Telefone</th>
      <th>E-mail</th>
      <th>Endereço</th>
      <th>Data de nascimento</th>
      <th>Observações</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.id %></td>
        <td><%= cliente.nome %></td>
        <td><%= cliente.telefone %></td>
        <td><%= cliente.email %></td>
        <td><%= cliente.endereco %></td>
        <td><%= cliente.data_nascimento.strftime('%m/%d/%Y') if cliente.data_nascimento %></td>
        <td><%= cliente.observacoes %></td>
        <td>
          <%= link_to 'Editar', edit_cliente_path(cliente) %>
          <%= button_to 'Excluir', cliente_path(cliente), method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
