<h1>Detalhes do Cliente</h1>

<p>
  <strong>ID:</strong>
  <%= @cliente.id %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @cliente.nome %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @cliente.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cliente.email %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @cliente.endereco %>
</p>

<p>
  <strong>Observações:</strong>
  <%= @cliente.observacoes %>
</p>

<%= link_to 'Excluir', cliente_path(@cliente), method: :delete, data: { confirm: 'Tem certeza que deseja excluir este cliente?' } %> |

<%= link_to 'Voltar', clientes_path %> 


