<h1>Funcionários</h1>
<ul>
  <% @employees.each do |employee| %>
    <li>
      Nome: <%= employee.name %><br>
      Salário: <%= format_salary(employee.salary) %><br>
      Cargo: <%= employee.position %><br>
      Data de admissão: <%= format_date(employee.admission_date) %><br>
      <% if employee.dismissal_date.present? %>
        Data de demissão: <%= format_date(employee.dismissal_date) %><br>
      <% end %>
      Data de nascimento: <%= format_date(employee.birth_date) %>
    </li>
    <br />
  <% end %>
</ul>
