<div id="<%= dom_id ingredient %>">
  <p>
    <strong>Name:</strong>
    <%= ingredient.name %>
  </p>

  <p>
    <strong>Unity Measure:</strong>
    <%= ingredient.unityMeasure %>
  </p>

  <p>
    <strong>Quantity Stock:</strong>
    <%= ingredient.quantityStock %>
  </p>

  <p>
    <strong>Quantity Stock Min:</strong>
    <%= ingredient.quantityStockMin %>
  </p>

  <p>
    <strong>Quantity Stock Max:</strong>
    <%= ingredient.quantityStockMax %>
  </p>

</div>
