<tr id="<%= dom_id ingredient %>" class="table">
  <td>
    <%= ingredient.name %>
  </td>

  <td>
    <%= ingredient.unityMeasure %>
  </td>
  <td>
    <%= ingredient.quantityStock %>
  </td>
  <td>
    <%= link_to "Show this ingredient", ingredient %>
  </td>
</tr>
