<div id="<%= dom_id ingredient %>" class="text-center">
  <p>
    <strong>Nome:</strong>
    <%= ingredient.name %>
  </p>

  <p>
    <strong>Unidade de medição:</strong>
    <%= ingredient.unityMeasure %>
  </p>

  <p>
    <strong>Quantidade em estoque:</strong>
    <%= ingredient.quantityStock %>
  </p>

  <p>
    <strong>Quantidade mínima em estoque:</strong>
    <%= ingredient.quantityStockMin %>
  </p>

  <p>
    <strong>Quantidade máxima em estoque:</strong>
    <%= ingredient.quantityStockMax %>
  </p>
</div>
