<div id="<%= dom_id ingredient %>">
  <p>
    <strong>Name:</strong>
    <%= ingredient.name %>
  </p>

  <p>
    <strong>Unity measure:</strong>
    <%= ingredient.unityMeasure %>
  </p>

  <p>
    <strong>Quantity stock:</strong>
    <%= ingredient.quantityStock %>
  </p>

  <p>
    <strong>Quantity stock Min:</strong>
    <%= ingredient.quantityStockMin %>
  </p>

  <p>
    <strong>Quantity stock Max:</strong>
    <%= ingredient.quantityStockMax %>
  </p>

</div>
