<p style="color: green"><%= notice %></p>

<% content_for :title, "Ingredients" %>

<h1>Ingredients</h1>

<%= link_to "New ingredient", new_ingredient_path %>

<div class="container" id="ingredients">
  <%= link_to "All Ingredients", ingredients_path, class: "btn btn-primary #{params[:filter].blank? ? 'active' : ''}" %>
  <%= link_to "Less Than Stock Min.", ingredients_path(filter: "menor_estoque_min"), class: "btn btn-primary #{params[:filter] == 'menor_estoque_min' ? 'active' : ''}" %>
  <%= link_to "Greater Than Stock Min.", ingredients_path(filter: "maior_estoque_min"), class: "btn btn-primary #{params[:filter] == 'maior_estoque_min' ? 'active' : ''}" %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Unity Measure</th>
        <th>Quantity Stock</th>
        <th>Quantity Stock Min</th>
        <th>Quantity Stock Max</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="ingredient-table-body">
      <% @ingredients.each do |ingredient| %>
        <tr>
          <td><%= ingredient.id %></td>
          <td><%= ingredient.name %></td>
          <td><%= ingredient.unityMeasure %></td>
          <td><%= ingredient.quantityStock %></td>
          <td><%= ingredient.quantityStockMin %></td>
          <td><%= ingredient.quantityStockMax %></td>
          <td> <%= link_to "Show this ingredient", ingredient %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


