<h1 id="page-heading">Editar Produto</h1>

<%= form_with model: @product, id: "product-form" do |form| %>
  <% if @product.errors.any? %>
    <div>
      <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Nome do produto" %><br />
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :price, "Preço" %><br />
    <%= form.text_field :price %>
  </div>
  
  <div>
    <%= form.label :category, "Categoria" %><br />
    <%= form.text_field :category %>
  </div>

  <h3>Ingredientes</h3>
  <div>
      <% @ingredients.each do |ingredient| %>
        <div>
          <%= check_box_tag 'ingredient_ids[]', ingredient.id, @product.ingredients.include?(ingredient) %>
          <%= label_tag "ingredients_id_#{ingredient.id}", ingredient.name %>
        </div>
      <% end %>
  </div>

  <div>
    <%= form.submit "Salvar" %>
  </div>
<% end %>
