<h1>Produtos</h1>
<div class="col-auto text-center">
  <%= link_to "Novo produto", new_product_path, class: "btn btn-success" %>
</div>
<%if @products.empty?%>
  <br>
  <p class="text-center">Não há produtos cadastrados</p>
<%else%>
  <table class="general-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Categoria</th>
        <th>Requer Ingredientes</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product|%>
        <tr>
          <td><%= link_to product.name, product %></td>
          <td><%= product.price %></td>
          <td><%= product.category %></td>
          <td><%= product.require_ingredients? ? "Sim" : "Não" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
