<h1>Fornecedores Cadastrados</h1>
<%if @suppliers.empty?%>
  <p>Não há Fornecedores cadastrados</p>
<%else%>
<table>
<thead>
  <tr>
    <th>Código</th>
    <th>Nome</th>
    <th>CNPJ</th>
    <th>Telefone</th>
    <th>Email</th>
    <th>Segmento</th>
    <th>Produtos</th>
  </tr>
</thead>
<tbody>
  <% @suppliers.each do |supplier| %>
    <tr>
      <td><%= supplier.code %></td>
      <td><%= supplier.name %></td>
      <td><%= supplier.cnpj %></td>
      <td><%= format_phone(supplier.phone) %></td>
      <td><%= supplier.email %></td>
      <td><%= supplier.segment %></td>
      <td><%= supplier.products %></td>
      <td>
      <td>
          <%= button_to 'Excluir', supplier_path(supplier), method: :delete, id: "delete_supplier_#{supplier.id}", data: { confirm: 'Você tem certeza?' } %>
        </td>
      <td>
          <%= link_to 'Ver', supplier_path(supplier), class: 'btn btn-primary' %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
<% end %>
