<h1>Fornecedores cadastrados</h1>

<div class="actions-form-box">
  <%= link_to "Novo fornecedor", new_supplier_path, class: 'new-item-link' %>
</div>

<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% elsif flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>

<div class="actions-form-box">
  <%= form_tag suppliers_path, method: :get do %>

  <div class="actions-form-box">
    <%= label_tag :search_by_code, "Buscar por código" %>
    <%= text_field_tag :search_by_code, params[:search_by_code], placeholder: "Digite o código", class: 'search-form-param' %>
  </div>

  <div class="actions-form-box">
    <%= label_tag :search_by_name, "Buscar por nome" %>
    <%= text_field_tag :search_by_name, params[:search_by_name], placeholder: "Digite o nome", class: 'search-form-param' %>
  </div>

  <div class="actions-form-box">
    <%= label_tag :search_by_segment, "Buscar por segmento" %>
    <%= text_field_tag :search_by_segment, params[:search_by_segment], placeholder: "Digite o segmento", class: 'search-form-param' %>
  </div>

  <div class="actions-form-box">
    <%= label_tag :search_by_products, "Buscar por produtos" %>
    <%= text_field_tag :search_by_products, params[:search_by_products], placeholder: "Digite um produto", class: 'search-form-param' %>
  </div>

  <div class="actions-form-box">
    <div class="d-inline-block">
      <%= submit_tag "Filtrar", class: "btn btn-primary" %>
    </div>
    <%= link_to "Limpar filtro", suppliers_path, class: 'clean-link' %>
  </div>
  <% end %>
</div>

<br>

<% if @suppliers.empty? %>
  <p class="text-center">Não há fornecedores cadastrados</p>
<% else %>
  <table class="general-table">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>CNPJ</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>Segmento</th>
        <th>Produtos</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @suppliers.each do |supplier| %>
        <tr>
          <td><%= supplier.code %></td>
          <td><%= supplier.name %></td>
          <td><%= supplier.cnpj %></td>
          <td><%= format_phone(supplier.phone) %></td>
          <td><%= supplier.email %></td>
          <td><%= supplier.segment %></td>
          <td><%= supplier.products %></td>
          <td>
            <%= button_to 'Excluir', supplier_path(supplier), method: :delete, data: { confirm: 'Você tem certeza que deseja excluir este fornecedor?' }, class: 'btn btn-danger' %>
            <%= link_to 'Ver', supplier_path(supplier), class: 'btn btn-primary' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
