<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Clientes" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= favicon_link_tag 'favicon.png' %>

  <link rel="manifest" href="/manifest.json">

  <link rel="apple-touch-icon" href="<%= asset_path('favicon.png') %>">


  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>


  <%= javascript_importmap_tags %>
</head>

<body>

  <div class="logo-container">
    <div class="logo">
      <img src="<%= asset_path('favicon.png') %>" alt="Logo">
    </div>
  </div>


  <% flash.each do |type, msg| %>
    <div class="alert alert-<%= type %>">
      <%= msg %>
    </div>
  <% end %>


  <%= yield %>

</body>
</html>
